body{
    margin: 0;
}

/* ======== HEADER ======== */

.titulo{
    display: flex;
    font-family: 'Merienda One', cursive;
    justify-content: center;
}

/* ======== MAIN ======== */

.botao{
    background-color: rgb(83, 83, 83);
    border: 0px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    height: 50px;
    margin-bottom: 50px;
    margin-top: 30px;
    outline: none;
    text-transform: uppercase;
    width: 150px;
}

.instrucao{
    color: red;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    margin-bottom: 20px;
    text-transform: uppercase;
}

/* ======== DIV MAIN ======== */

.div-main{
    display: flex;
    justify-content: center;
}

/* ======== BOTOES ======== */

.verde{
    background-color: green;
    border: 9px solid black;
    border-top-left-radius: 100%;
    color: green;
    height: 200px;
    opacity: 0.8;
    outline: none;
    position: relative;
    width: 200px;
}

.vermelho{
    background-color: red;
    border: 9px solid black;
    border-top-right-radius: 100%;
    color: red;
    height: 200px;
    opacity: 0.8;
    outline: none;
    position: relative;
    width: 200px;   
}

.amarelo{
    background-color: yellow;
    border: 9px solid black;
    border-bottom-left-radius: 100%;
    color: yellow;
    height: 200px;
    opacity: 0.8;
    outline: none;
    position: relative;
    width: 200px;
}

.azul{
    background-color: blue;
    border: 9px solid black;
    border-bottom-right-radius: 100%;
    color: blue;
    height: 200px;
    opacity: 0.8;
    outline: none;
    position: relative;
    width: 200px;
}

/* ======== VOCE PERDEU ======== */

.div-perdeu{
    display: flex;
    justify-content: center;
}

.perdeu{
    color: red;
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
    text-transform: uppercase;
}

.pontuacao{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.numero-pont{
    color: green;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    margin: 0;
}

/* ======== CONTADOR ========  */

.contador{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    margin: 0;
    text-transform: uppercase;
}

.numero-cont{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    margin: 0;
    margin-bottom: 20px;
    margin-top: 10px;
}

/* ======== HOVER ======== */

.verde:hover{
    opacity: 1.0;
}

.vermelho:hover{
    opacity: 1.0;
}

.amarelo:hover{
    opacity: 1.0;
}

.azul:hover{
    opacity: 1.0;
}

.botao:hover{
    background-color: black;
}

/* ======== RESPONSIVO PERDEU ======== */

@media(max-width:560px){
    .perdeu{
        font-size: 50px;
    }
}

@media (max-width:415px){
    .perdeu{
        font-size: 30px;
    }

    .pontuacao{
        font-size: 15px;
    }

    .numero-pont{
        font-size: 15px;
    }
}

/* ======== REPONSIVO GERAL ======== */

@media(max-width:450px){
    .verde{
        height: 150px;
        width: 150px;
    }

    .vermelho{
        height: 150px;
        width: 150px;
    }

    .amarelo{
        height: 150px;
        width: 150px;
    }

    .azul{
        height: 150px;
        width: 150px;
    }
}

@media(max-width:300px){
    .verde{
        height: 100px;
        width: 100px;
    }

    .vermelho{
        height: 100px;
        width: 100px;
    }

    .amarelo{
        height: 100px;
        width: 100px;
    }

    .azul{
        height: 100px;
        width: 100px;
    } 
}

